plugin: aws_ec2
regions:
  - us-east-1
filters:
  instance-state-name: running
  "tag:Role": "*"
keyed_groups:
  - key: tags.Role
    prefix: ""
    separator: ""
hostnames:
  - ip-address
compose:
  ansible_host: public_ip_address
  ansible_user: ec2-user
  ansible_ssh_private_key_file: /home/abdelrhman/CloudDevOpsProject/abdelrhman-key.pem
  ansible_python_interpreter: /usr/bin/python3
  ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
